//For Navbar
@mixin responsive-nav{
    .nav-link-desktop {
        display: none;
      }
    
      .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
      }
    
      .nav-links-mobile {
        position: absolute;
        top: 50px;
        width: 100%;
        background-color: $navBg-color;
      }
    
      .burger-menu {
        display: block;
        position: absolute;
        top: 12px;
        right: 25px;
        font-size: 20px;
        background-color: $navBg-color;
        color: $txt-color-white;
        border: none;
        outline: none;
      }
      .nav-link {
        text-align: center;
        color: $txt-color-white;
        padding: 32px;
        list-style: none;
        width: 100%;
      }
      .burger-menu {
        display: block;
        position: absolute;
        font-size: 26px;
        border: none;
      }
}
