.contact-container {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  gap: 160px;
  font-family: $font-OpenSans;
}

.app-container{
    height: 740px;
    display: grid;
    align-items: center;
    h1{
        padding-bottom: 14px;
    }
    .schedule-form {
        .per-info,
        .contact-info,
        .msg-container,
        .btn-con {
          display: grid;
          gap:15px;
          padding: 5px;
        }
        .txt {
          height: 30px;
          width: 500px;
        }
        .btn-submit{
            height: 35px;
            width: 140px;
            cursor: pointer;
            background-color: $buyerguide-btn;
            color: $txt-color-white;
            border: none;
        }
      }
      
}
.company-contact {
    height: 510px;
    display: grid;
    align-items: center;
  h1,
  p {
    padding: 8px;
  }
}

//Media Queries
//Mobile 320
@include mobile-device-xs(mobile-xs){
  .contact-container{
    padding: 10px;
    grid-template-columns: repeat(1,auto);
    gap: 0;
  }
  .app-container{
    height: 500px;
   .schedule-form{
     .txt{
       width: 100%;
     }
   } 
  }

  .company-contact{
    min-height: 220px;
    padding-top: 50px;
  }
}

//Mobile 480
@include mobile-device-sm(mobile-xsBreak, mobile-md) {
  .contact-container{
    padding: 10px;
    grid-template-columns: repeat(1,auto);
    gap: 0;
  }
  .app-container{
    height: 500px;
   .schedule-form{
     .txt{
       width: 100%;
     }
   } 
  }

  .company-contact{
    min-height: 220px;
    padding-top: 50px;
  }
}

//Mobile 481 - 768
@include mobile-device-md(mobile-lg, tablet-sm){
  .contact-container{
    padding: 10px;
    grid-template-columns: repeat(1,auto);
    gap: 0;
  }
  .app-container{
    height: 500px;
   .schedule-form{
     .txt{
       width: 100%;
     }
   } 
  }

  .company-contact{
    min-height: 220px;
    padding-top: 70px;
  }
}

//Tablet 768 - 1024
@include tablet-device-sm(tablet-break, tablet-md){
  .contact-container{
    padding: 20px;
    grid-template-columns: repeat(1,auto);
    gap: 0;
  }
  .app-container{
    height: 500px;
   .schedule-form{
     .txt{
       width: 100%;
     }
   } 
  }

  .company-contact{
    height: 0;
  }
}