.buyers-container {
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box {
    padding: 20px;
  p {
    text-align: center;
  }
  .img-step {
    height: 200px;
    width: 300px;
  }
}
