.footer{
    min-height: 200px;
    background-color: $navBg-color;
    color:$txt-color-white;
    padding: 20px;
    display: flex;
    gap:20px;
    justify-content: space-evenly;
}
.comp-desc{
    line-height: 1.6;
    padding: 10px;
}
.contacts{
    display: flex;
    gap:50px;
    padding: 20px;
    .bold{
        font-weight: bold;
    }
    ul{
        li{
            padding: 5px;
            list-style: none;
        }
    }
}

.copyright{
    background-color: $navBg-color;
    color:$txt-color-white;
    text-align: center;
    padding: 10px;
}