.landing-container {
  min-height: 100vh;
  background: url("/Assets/images/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.house-search {
  height: 900px;
  @include grid-center;
  align-items: center;
}
.housebox-src {
  border: 2px solid white;
  min-height: 140px;
  width: 800px;
  padding: 20px;
  color: $txt-color-white;
}
.form {
  @include flex-center;
  gap: 20px;
  padding-top: 10px;
  .txt-loc,
  .txt-price {
    height: 35px;
    width: 250px;
    border-radius: 6px;
    border: none;
  }
  .txt-loc,
  .txt-price::placeholder {
    padding: 10px;
  }
  .btn-search {
    height: 35px;
    width: 200px;
    cursor: pointer;
    background-color: $homebtn-color;
    color: $txt-color-white;
    border: none;
    font-weight: bold;
  }
}

/*Media Queries*/
/*Media Queries Phone 320*/
@include mobile-device-xs(mobile-xs){
  .housebox-src {
    width: 250px;
  }
  .form {
    flex-direction: column;
    .txt-loc,
    .txt-price,
    .btn-search{
        width: 100%;
    }
  }
}
/*Media Queries Phone 480*/
@include mobile-device-sm(mobile-xsBreak, mobile-md) {
  .housebox-src {
    width: 270px;
  }
  .form {
    flex-direction: column;
    .txt-loc,
    .txt-price,
    .btn-search{
        width: 100%;
    }
  }
}

/*Media Queries Phone 481 - 768*/
@include mobile-device-md(mobile-lg, tablet-sm){
  .housebox-src {
    width: 450px;
  }
  .form {
    flex-direction: column;
    .txt-loc,
    .txt-price,
    .btn-search{
        width: 100%;
    }
  }
}

/*Media Queries Tablet 769 - 820*/
@include tablet-device-lg(tablet-break, tablet-md){
  .housebox-src {
    width: 590px;
  }
}

